<launch>

  <master auto="start"/> 





 <!-- Run the map server --> 
 <!-- node name="map_server" pkg="map_server" type="map_server" args="$(find my_map_package)/my_map.pgm my_map_resolution"/ --> 
 
 <!--- Run AMCL -->    
 <!--include file="$(find amcl)/examples/amcl_omni.launch" /-->

  <node name="octomap_server" pkg="octomap_server" type="octomap_server_node">
  <remap from="cloud_in" to="/velodyne_points" />
  <param name="frame_id" type="string" value="odom" />
  <!--param name="frame_id" type="string" value="map" /-->
  <param name="base_frame_id" type="string" value="base_link" />
  <param name="latch" value="false" />
  <param name="resolution" value="0.05" />
  <param name="filter_ground" value="true" />
  <param name="ground_filter/distance" value="0.04" />
  </node>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
   <remap from="map" to="/projected_map" />
   <rosparam file="$(find vtc_move_base_test)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
   <rosparam file="$(find vtc_move_base_test)/config/costmap_common_params.yaml" command="load" ns="local_costmap" /> 
   <rosparam file="$(find vtc_move_base_test)/config/local_costmap_params.yaml" command="load" />
   <rosparam file="$(find vtc_move_base_test)/config/global_costmap_params.yaml" command="load" /> 
   <rosparam file="$(find vtc_move_base_test)/config/base_local_planner_params.yaml" command="load" />
 </node>

</launch>

